menu "ELF Loader"

choice
    prompt "Select ELF Loading Method"
    default ELFLOADER_MEMORY_POINTER
    config ELFLOADER_POSIX
        bool "Use file descriptors and operations like fread()"
        help
            Operates directly out of flash using POSIX.
    config ELFLOADER_MEMORY_POINTER
        bool "Operate on memory pointers"
        help
            Reader reads entire ELF file into memory and passes in a pointer
            to the beginning of the contents. 1~2 orders of magnitude faster
            than POSIX, but requires more RAM.
endchoice

choice
    prompt "Symbol Search Method"
    default ELFLOADER_SEARCH_LINEAR
    config ELFLOADER_SEARCH_LINEAR
        bool "Linear search through exported symbols"
        help
            Input symbols from HOST can be in any order, but takes O(n) to find
            a symbol.
    config ELFLOADER_SEARCH_BINARY
        bool "Binary search through exported symbols"
        help
            Input symbols from HOST must be in alphabetical order.
            Takes O(log(n)) to find a symbol.
endchoice

config ELFLOADER_PROFILER_EN
    bool
    prompt "Enable ELF Loader Profiling"
    default n
    help
        Enable profiling tools. Takes up additional memory and some CPU cycles.

config ELFLOADER_CACHE_STRTAB
    bool
    depends on ELFLOADER_POSIX
    prompt "Cache StringTable to Memory"
    default y
    help
        Allocates memory to cache the .strtab section to memory.

endmenu
